@font-face {
  font-family: CMCFont;
  src: url(/assets/fonts/Montserrat-Regular.ttf);
}

:root {
    --white: #FAFAFA;
    --main: #202726;
    --accent: #c26019;
    --accent2: #202726;
    --text: #FAFAFA;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: CMCFont;
}

body {
    margin: 0;
    color: var(--text); /* text */
    background: var(--accent);
}

canvas { /* for geometry */
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -1;

  filter: brightness(0.75);
}

a:not([button]) {
  text-decoration: underline !important;
  color:#c26019 !important;
}